<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">

    <listeners>
        <listener class-name="org.akavity.utils.AllureListener"></listener>
    </listeners>

    <test name="MainTest" parallel="false">
        <classes>
            <class name="org.akavity.HeaderTest">
                <methods>
                    <include name="horizontalMenuNavigation"/>
                    <include name="catalogNavigation"/>
                    <include name="searchForProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
